body{
    width:500px;
    text-align: center;
    border: solid black;
    float: center;
        width: 33.33%;
        padding: 15px;
    background-color: aquamarine;
    
    }
    #message {
        color: black; /* Initial color */
        transition: color 0.3s ease; /* Smooth transition */
    }
    #message:hover {
        color: red; /* Color change on hover */
    }